.TaksItem{
    width: 100%; 
    background-color: #ffece6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0;
    border-radius: 25px;
    position: relative;
    margin-top: 10px;
}

.Icon{
    margin: 0 20px;
    cursor: pointer;
}

svg{
    height: 20px;
}

.Icon_delete:hover{
    color: red;
}


.active{
    color: green;
    font-weight: bold;
}

.Taks{
    margin: 0 20px;
}

.completed{
    text-decoration: line-through; /* Texto tachado */
}